<!DOCTYPE html>
<html lang="PT-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMINISTRADOR</title>
    <link rel="stylesheet" href="../static/css/inicial.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href=""></a> INICIAL </li>
                <li><a href=""></a> SECUNDÁRIA</li>
                <li><a href=""></a> TERCEIRO</li>
                <li class="btnlogin"><a href=""></a> LOGIN</li>
                <li class="btncadastrar"><a href=""></a> CADASTRAR</li>
                <li class="carrinho"><a href=""><img src="../static/arquivos/carrinho1.png" alt="">
                        <span class="text">Carrinho</span></a> </li>
            </ul>
        </nav>
    </header>
    <section id="busca">
        <h2>Pesquisar </h2>
        <form>
            <input type="text" id="campo-busca" placeholder="Pesquisar">
            <button type="submit">Buscar</button>
        </form>
    </section>
    <div class="msg_inicial">
        <p>
            The border here is done using an SVG border image. And the whole image is inlined in the CSS. No file
            request is needed. I think this is f... awesome. If you want to encode your SVG, I suggest you use this <a
                href="https:">Tool</a> by <a href="https:">@</a>.
        </p>
        <p>
            The same goes for the little arrow thingie located at the right border. It is a pseudo-element with an
            inline
            background SVG.
        </p>
    </div>
    <section id="destaque" class="destaque">
        <h2>Produtos em Destaque e mais vendidos</h2>
        <div class="produtos">

        </div>
    </section>
    <section id="produtos">
        <h2>Produtos</h2>
        <div class="produtos">

        </div>
    </section>
    <footer>
        <p> <small> 2023 hgStudios &trade; </small></p>
    </footer>
</body>

</html>