<!DOCTYPE html>
<html lang="PT-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN VENDEDOR</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href=""></a> INICIAL </li>
                <li class="btncadastrar"><a href=""></a> CADASTRAR</li>
            </ul>
        </nav>
    </header>
    <h1 class="titulo">Vendedor Bem-Vindo, acesse</h1>
    <form action="#" method="post">
        <h1>LOGIN VENDEDOR</h1>

        <label for="emailVendedor">Email</label>
        <input type="email" name="emailVendedor" id="emailVendedor" placeholder="E-mail" required>
        <label for="senhaVendedor">Senha</label>
        <input type="password" name="senhaVendedor" id="senhaVendedor" placeholder="Senha" required>
        <input type="submit" value="Entrar">
        <div class="esqueceu-senha">
            Esqueceu sua senha? <a href="#"> Recuperar Senha </a>
        </div>
    </form>
    <footer>
        <p> <small> 2023 hgStudios &trade; </small></p>
    </footer>
</body>

</html>